@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400&family=Roboto:wght@100;300;400;500;700;900&display=swap');

html {
	font-family: 'Inter', sans-serif;;
	background-color:#FFF;
}

body {
	margin:0 auto;
}

* {box-sizing: border-box;}
a {transition:all .5s ease-in-out;}

.container {width:100%; padding:0 15px; max-width:600px; margin-right:auto; margin-left:auto; position:relative;}

h1 {
	font-size:2rem;
	color:purple;
	line-height:1.3;
	margin:10px 0 21px;
}

header {
	background:#444;
	color:#FFF;
	padding:1rem 0;
}
header a {color:#FFF; text-decoration:none;}
header a:hover {color:blanchedalmond;}
header .logo {width:60px; height:60px;}

.hamburger {
	position:fixed;
	z-index:10;
	cursor: pointer;
	right:20px;
	top:30px;
	width:30px;
}
.hamburger .line {
	display:block;
	width:100%;
	height:3px;
	margin:7px 0;
	background-color:#ff9776;
	transition:all .5s ease-in-out;
	
}
.hamburger.expanded .line:nth-child(1) {
	transform-origin: top left;
	transform:rotate(45deg);
}
.hamburger.expanded .line:nth-child(2) {
	background-color:transparent;;
}
.hamburger.expanded .line:nth-child(3) {
	transform-origin: bottom left;
	transform:rotate(-45deg);
}

nav.main-nav {
	z-index:1;
	overflow:hidden;
	width:calc(100vw - 100px);
	height:100vh;
	top:0;
	right:-100%;
	position:fixed;
	display:flex;
	background-color:rgba(0,0,0,.95);
	flex-direction:column;
	gap:15px;
	/* justify-content:center; */
	transition:all .5s ease-in-out;
	padding:105px 20px 20px;
}
nav.main-nav.expanded {
	right:0;
}

footer {font-size:.875rem; text-align: center; margin-top:2rem;}
footer nav {margin-bottom:.5rem;}
footer nav a {padding:0 5px;;}

@media screen and (min-width: 320px) {
	
}
@media screen and (min-width: 480px) {
	
}
@media screen and (min-width: 600px) {
	header .logo {width:70px; height:70px;;}
	.hamburger {display:none;}
	nav.main-nav {
		position:relative;
		float:right;
		top:auto;
		right:auto;
		height:auto;
		width:auto;
		background-color:transparent;
		padding:20px 0;
		flex-direction: row;
	}
}
@media screen and (min-width: 801px) {
	
}
@media screen and (min-width: 1025px) {
	
}