---
---
<div class="hamburger">
	<span class="line"></span>
	<span class="line"></span>
	<span class="line"></span>
</div>

<nav class="main-nav">
	<a href="/">Home</a>
	<a href="/about">About</a>
	<a href="/blog">Blog</a>
</nav>
